.countdown {
    position: absolute;
    width: 74.5rem;
    height: 34.8rem;
    display: none;
    flex-direction: column;
    align-items: center;
    background: rgba(58, 55, 94, 0.3);
    border-radius: 0 0 2.5rem 2.5rem;

    &.active, &.default {
        display: flex;
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.6rem;
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 6rem;
    }

    &__subtitle {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.625rem;
        color: #6FFF57;
        text-align: center;
    }

    &__timer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 8rem;
        height: 11.25rem;

        &__time {
            display: flex;
            flex-direction: column;
            align-items: center;

            .countdown__number {
                font-family: 'Chakra Petch', sans-serif;
                font-size: 8rem;
                font-weight: 400;
                line-height: 10.4rem;
                text-align: center;
                height: 8.75rem;
            }

            .countdown__label {
                font-family: 'Chakra Petch', sans-serif;
                font-size: 2rem;
                font-weight: 400;
                line-height: 2.6rem;
                color: #6FFF57;
                margin-top: 0.5rem;
                text-align: center;
            }
        }

        .countdown__divider {
            padding-bottom: 3rem;
            font-family: auto;
        }
    }
}
